#contenty-mouseEvent {
  width: 0;
  height: 0;
  position: relative;
  z-index: var(--zIndex-mouse);
  mix-blend-mode: difference;
}

#contenty-mouseEvent svg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  fill: var(--color-white);
  stroke: var(--color-white);
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: fill 0.2s, stroke 0.2s;
}

#contenty-mouseEvent svg #contenty-mouseEvent-pointer {
  transition: r 0.15s;
}

#contenty-mouseEvent[class*='mouseHover'] svg {
  fill: var(--color-white);
}

#contenty-mouseEvent[class*='mousemove'] svg #contenty-mouseEvent-pointer {
  transition: none;
}

#contenty-mouseEvent[class*='mouseHover'] svg #contenty-mouseEvent-pointer {
  r: 36;
  fill: transparent;
  stroke-width: 2;
  transition: r 0.2s, stroke 0.2s;
}

#contenty-mouseEvent[class*='mouseHover'] svg #contenty-mouseEvent-tail {
  display: none;
}

#contenty-mouseEvent svg #contenty-mouseEvent-tail {
  fill: none;
  stroke: var(--color-white);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

* {
  cursor: none;
}