header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  transition: transform 0.2s;
}

.header-relative {
  height: var(--header-height);
}

header .global-nav {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  padding: var(--padding-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .global-nav .logo {
  width: 120px;
  height: 28px;
  cursor: pointer;
  margin-left: var(--padding-body-rest);
}

header .global-nav .logo svg {
  width: 100%;
}

header .global-nav nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header .global-nav nav p {
  cursor: pointer;
  padding: 6px 8px;
  transition: var(--transition-default);
  border-radius: var(--borderRadius-button);
  transform: scale(1);
  opacity: 1;
  font-size: 12px;
}

header .global-nav nav p:hover {
  background-color: var(--color-3);
  transform: scale(0.95);
}

@media screen and (max-width: 1080px) {
  .header .global-nav .logo {
    width: 100px;
  }
}