header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  transition: var(--transition-4);
  z-index: var(--zIndex-header);
}

.header-off {
  transform: translateY(-100%);
}

.header-relative {
  height: var(--header-height);
}

header .global-nav {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  margin: auto;
  padding: var(--padding-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .global-nav .logo {
  width: 120px;
  height: 28px;
  cursor: pointer;
  margin-left: var(--padding-body-rest);
}

header .global-nav .logo svg {
  width: 100%;
}

header .global-nav nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

header .global-nav nav p a {
  display: inline-block;
  cursor: pointer;
  padding: 6px 8px;
  transition: var(--transition-1);
  border-radius: var(--borderRadius-button);
  transform: scale(1);
  opacity: 1;
  font-size: 12px;
  color: var(--color-black);
}

header .global-nav nav p a:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

@media screen and (max-width: 1080px) {
  .header .global-nav .logo {
    width: 100px;
  }
}