aside {
  position: fixed;
  z-index: var(--zIndex-aside);
  right: var(--padding-default-value);
  bottom: 40px;
  transition: var(--transition-5);
  mix-blend-mode: difference;
}

.aside-off {
  opacity: 0;
  transform: translateY(10px);
}

aside .button-wrap button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: 1px solid var(--color-white);
  transition: var(--transition-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

aside .button-wrap button svg {
  display: block;
  width: 80%;
  height: 80%;
}

aside .button-wrap button svg:last-child {
  position: absolute;
  top: 100%;
}

aside .button-wrap button:hover svg {
  animation: aside-hover 0.4s 1 forwards;
}

@keyframes aside-hover {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110%);
  }
}

@media screen and (max-width: 1080px) {
  aside {
    right: var(--padding-default-value);
  }
}