footer {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 80px 0 60px;
  position: relative;
}

footer .wrap {
  width: 100%;
  max-width: 1080px;
  padding: var(--padding-default);
  margin: auto;
}

footer .wrap .logo {
  width: 120px;
}

footer .wrap .logo a {
  width: 100%;
  display: block;
}

footer .wrap .logo svg {
  width: 100%;
  height: 28px;
}

footer .wrap .info {
  margin-top: 80px;
}

footer .info h1 {
  font-weight: 700;
  font-size: 12px;
}

footer .info .title {
  padding-bottom: 10px;
}

footer .info h2 {
  font-weight: 700;
  font-size: 12px;
  color: var(--color-7);
}

footer .info p {
  font-size: 12px;
}

footer .info ul li {
  display: flex;
  justify-content: flex-start;
  padding: 3px 0;
}

footer .info ul li h2 {
  width: 80px;
  transition: var(--transition-default);
}

footer .info ul li:hover h2 {
  color: var(--color-white);
}

footer .info ul li:hover p a {
  text-decoration: underline;
}

footer .info .copyright {
  padding-top: 10px;
}

@media screen and (max-width: 1080px) {
  footer {
    padding: 60px 0 40px;
  }

  footer .wrap .info {
    margin-top: 60px;
  }

  footer .wrap .logo {
    width: 100px;
  }
}